#box{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

#box-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button{
  margin: 3em;
  padding: 1em;
}
